
.manage-account{
    /* margin-bottom: -100px; */
    padding-top: 100px;
   }

   .header-intro{
    padding-top: 100px;
    z-index: 0;
   }
   
   .bg-header{
       position: absolute;
       z-index: -1;
   }

   .brand{
    color: white;
  }
  @media (max-width: 768px) {
  
    .brand{
      color: rgb(68, 68, 68);
      /* padding-right: 10px; */
    }
  
    .manage-account{
      padding-top: 0px;
    }
    .header-intro{
        /* margin-bottom: -100px; */
        padding-top: 0px;
       }
  }